---
---

@charset "utf-8";

$base-font-family: 'Cooper Hewitt', Helvetica, Arial, sans-serif;
$base-font-size:   20px;
$small-font-size:  15px;
$base-line-height: 1.6;

$spacing-unit:     30px;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$brand-color:      #4fab7d;
$hilight-color:    #cf4d44;

$text-color:       $grey-color-dark;
$background-color: white;

$screen-sm:        580px;
$screen-md:        768px;
$screen-lg:        1024px;
$screen-xl:        1140px;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "fonts",
        "base",
        "layout",
        "section",
        "navigation",
        "video",
        "call-to-action",
        "more-links",
        "social",
        "schedule",
        "speakers",
        "article-list",
        "syntax-highlighting"
;
