<div class="section__main teaser">
  <header class="header">
    <a class="main-logo" href="/">
      <h1>CycleHack Berlin</h1>
    </a>
  </header>

  <div class="intro">
    <time class="intro__date">{{ page.intro.date }}</time>
    <h2 class="intro__tagline">{{ page.intro.tagline }}</h2>
    <p class="teaser">{{ page.intro.content }}</p>
    <!--<a href="{{ page.intro.join_url }}" class="call-to-action--highlight">{{ page.intro.join }}</a>-->
    <a href="#about" class="call-to-action--secondary">{{ page.intro.more }}</a>
  </div>
</div>
<!--
{% if page.language == 'en' %}
  <a class="language" href='/'>Deutsch</a>
{% else %}
  <a class="language" href='/en/'>English</a>
{% endif %} -->

