<div class="section__main">
  <header class="header">
    <a class="main-logo" href="/">
      <h1>CycleHack Berlin</h1>
    </a>
  </header>

  <div class="intro">
    <time class="intro__date">
      {{ page.join.date }}
    </time>
    <span class="intro__tagline">
      {{ page.join.venue }}
    </span>
    <div class="teaser">
      {{ page.join.teaser }}
    </div>
    <a href="{{ page.join.more_url }}" class="call-to-action--highlight">
      {{ page.join.more }}
    </a>
    <a href="{{ page.join.schedule_url }}" class="call-to-action--secondary">
      {{ page.join.schedule }}
    </a>
  </div>
</div>

