<div class="section__main">
  <header class="header">
    <a class="main-logo" href="/">
      <h1 >Cyclehack Berlin</h1>
    </a>
  </header>

  <div class="intro">
    <time class="intro__date">
      {{ page.join.date }}
    </time>
    <span class="intro__tagline">
      {{ page.join.venue }}
    </span>
    <div class="teaser">
      {{ page.join.teaser }}
    </div>
    <a href="https://www.eventbrite.com/e/cyclehack-berlin-tickets-25962227722" class="call-to-action--highlight">{{ page.join.registration }}</a>
    <a href="#schedule" class="call-to-action--secondary">{{ page.join.schedule }}</a>
  </div>
</div>

