<div class="section__main--column teaser">

  <h1>{{ page.teaser.title }}</h1>

  {{ page.teaser.content }}

  <h3>{{ page.teaser.blog_title }}</h3>

  <ul class="article-list">
  {% for post in site.posts limit:3 %}
    <li>
      <a class="article-list__item" href="{{ post.url }}">
        <time class="article-list__date">{{ post.date | date: "%Y-%m-%d" }}</time>
        <span class="article-list__title">{{ post.title }}</span>
      </a>
    </li>
  {% endfor %}
  </ul>

</div>

<aside class="section__sidebar">
  <div class="video">
    <iframe src="https://player.vimeo.com/video/165950884?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <ul class="more-links">
    {% for link in page.teaser.more_links %}
    <li>
      <a target="_blank" href="{{ link.url }}"> {{ link.text }}</a>
    </li>
    {% endfor %}
</aside>
