<div class="container">
  <footer class="footer">
    CycleHack Berlin
    <ul>
      <li><a href="https://twitter.com/cyclehackber" target="_blank">Twitter</a></li>
      <li><a href="https://www.facebook.com/cyclehackberlin/" target="_blank">Facebook</a></li>
      <li><a href="/kontakt.html">Kontakt und Impressum</a></li>
      <li><a href="/datenschutz.html">Datenschutz</a></li>
      <li><a href="/presse.html">Presse</a></li>
      <li><a href="https://github.com/sjockers/cyclehackberlin.de/">GitHub</a></li>
    </ul>
  </footer>
</div>
