<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Quick and dirty social meta tags. TODO: Update + make this dynamic -->
    <meta name="description" content="Vom 15. bis 17. September 2017 bringen wir Fahrradschrauber*innen, Designer*innen, Programmierer*innen, Aktivist*innen und viele andere zusammen, um gemeinsam an Ideen für die Fahrradstadt Berlin zu arbeiten. ">
    <meta name="image" content="http://cyclehackberlin.de/assets/images/background-wheel.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="CycleHack Berlin 2017">
    <meta itemprop="description" content="Vom 15. bis 17. September 2017 bringen wir Fahrradschrauber*innen, Designer*innen, Programmierer*innen, Aktivist*innen und viele andere zusammen, um gemeinsam an Ideen für die Fahrradstadt Berlin zu arbeiten. ">
    <meta itemprop="image" content="http://cyclehackberlin.de/assets/images/background-wheel.jpg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="CycleHack Berlin 2017">
    <meta name="twitter:description" content="Vom 15. bis 17. September 2017 bringen wir Fahrradschrauber*innen, Designer*innen, Programmierer*innen, Aktivist*innen und viele andere zusammen, um gemeinsam an Ideen für die Fahrradstadt Berlin zu arbeiten. ">
    <meta name="twitter:site" content="@CycleHackBER">
    <meta name="twitter:creator" content="@CycleHackBER">
    <meta name="twitter:image:src" content="http://cyclehackberlin.de/assets/images/background-wheel.jpg">


</head>
