.container {
  width: 100%;
  margin: 0 auto;

  @include media-query($screen-sm) {
    max-width: $screen-sm;
  }

  @include media-query($screen-md) {
    max-width: $screen-md;
  }

  @include media-query($screen-lg) {
    max-width: $screen-lg;
  }

  @include media-query($screen-xl) {
    max-width: $screen-xl;
  }
}

.main-logo {
  display: block;
  width: 170px;
  height: 170px;
  margin: $spacing-unit/2 0;
  padding: 0;
  background: url(/assets/images/logo-cyclehack-berlin.svg) no-repeat center center;
  text-indent: 100%;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

.partners {
  margin: $spacing-unit/2 0;
  padding: 0;

  > li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.partners__logo {
  display: inline-block;
  height: 120px;
  margin: 0 $spacing-unit/2 $spacing-unit/2 0;
}

.partners__logo--small {
  @extend .partners__logo;
  height: 90px;
}

.intro {
  padding: 50px 0;

  @include media-query($screen-md) {
    max-width: 600px;
  }
}

.intro__tagline {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: $brand-color;

  @include media-query($screen-md) {
    font-size: 48px;
  }
}

.intro__date {
  color: white;
  @extend .intro__tagline;
}

.teaser {
  font-size: 24px;
}

.subscription-form {
  padding: 25px 0 0 0;
  margin: 20px 0 0 0;
  display: block;
  border-top: 1px solid white;

  input {
    border: 1px solid #333;
    background: white;
    font-size: $base-font-size;
    font-family: $base-font-family;
    padding: 5px 15px 0 15px;
    margin: 0 5px 0 0;
    height: 60px;
    width: 290px;
    vertical-align: middle;
  }

  button {
    @extend input;
    background-color: $hilight-color;
    transition: background-color 300ms;
    color: white;
    border-radius: 5px;
    width: auto;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($hilight-color, 10);
      cursor: pointer;
    }
  }
}

.subscription-form__smallprint {
  margin-top: 25px;
  font-size: $small-font-size;
}

.footer {
  padding: 30px;
  margin: 0;
  border-top: 1px solid white;
  font-size: $small-font-size;

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;

    &:before {
      content: '|';
      padding: 0 7px;
    }
  }
}

.header {
  position: relative;
}
