.container {
  width: 100%;
  padding: 0 $spacing-unit;
  margin: 0 auto;

  @include media-query($screen-sm) {
    max-width: $screen-sm;
  }

  @include media-query($screen-md) {
    max-width: $screen-md;
  }

  @include media-query($screen-lg) {
    max-width: $screen-lg;
  }
}

.call-to-action {
  display: inline-block;
  padding: $spacing-unit/2 $spacing-unit;
  margin: $spacing-unit 0;
  border-radius: 5px;

  &:link, &:visited {
    color: white;
    border: 2px solid white;
    text-decoration: none;
  }

  &:hover, &:active, &:focus {
    color: $hilight-color;
    border-color: $hilight-color;
  }
}

.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  padding: $spacing-unit 0;
}

.section--intro {
  background-image: url(/assets/images/background.jpg);
  box-shadow: inset 0 -100px 500px -100px black;
}

.section__call-to-action {

}

.main-logo {
  display: block;
  width: 170px;
  height: 170px;
  margin: $spacing-unit 0;
  padding: 0;
  background: url(/assets/images/logo-cyclehack-berlin.svg) no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.intro {
  padding: $spacing-unit 0;

  @include media-query($screen-md) {
    max-width: $screen-sm;
  }
}

.intro__tagline {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: white;


  @include media-query($screen-md) {
    font-size: 42px;
  }
}

.intro__date {
  @extend .intro__tagline;
  color: $brand-color;
}


.subscription-form {
  padding: 25px 0 0 0;
  margin: 20px 0 0 0;
  display: block;
  border-top: 1px solid white;

  input {
    border: 1px solid #333;
    background: white;
    font-size: $base-font-size;
    font-family: $base-font-family;
    padding: 5px 15px 0 15px;
    margin: 0 5px 0 0;
    height: 60px;
    width: 290px;
    vertical-align: middle;
  }

  button {
    @extend input;
    background-color: $hilight-color;
    transition: background-color 300ms;
    color: white;
    border-radius: 5px;
    width: auto;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($hilight-color, 10);
      cursor: pointer;
    }
  }
}

.subscription-form__smallprint {
  margin-top: 25px;
  font-size: $small-font-size;
}

.footer {
  padding: 25px 0 0 0;
  margin: 60px 0 0 0;
  border-top: 1px solid white;
  font-size: $small-font-size;

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;

    &:before {
      content: '|';
      padding: 0 7px;
    }
  }
}

.language {
  position: absolute;
  float: right;
  right: 0;
  top: 0;
  padding: 10px 15px 5px 15px;
  border-radius: 3px;
  text-decoration: none;
  font-size: $small-font-size;
  line-height: 1;
  font-weight: 600;

  &:link,
  &:visited {
    background: $brand-color;
    transition: background-color 300ms;
    color: black;
  }

  &:hover,
  &:active,
  &:focus {
    background: lighten($brand-color, 15);
  }
}

.header {
  position: relative;
}
