.container {
  width: 100%;
  margin: 0 auto;

  @include media-query($screen-sm) {
    max-width: $screen-sm;
  }

  @include media-query($screen-md) {
    max-width: $screen-md;
  }

  @include media-query($screen-lg) {
    max-width: $screen-lg;
  }

  @include media-query($screen-xl) {
    max-width: $screen-xl;
  }
}

.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  padding: $spacing-unit 0;
  overflow: hidden;
  background: white;
  color: black;
}

.section__main {
  padding: $spacing-unit;
}

.section__main--column {
  @extend .section__main;

  @include media-query($screen-md) {
    width: 60%;
    float: left;
  }
}

.section__sidebar {
  display: block;
  padding-top: 100px;

  @include media-query($screen-md) {
    width: 40%;
    float: left;
    padding: 100px $spacing-unit;
  }
}


.section--intro {
  background: black;
  background-image: url(/assets/images/background-trafficlight.jpg);
  background-position: left;
  background-attachment: fixed;
  color: white;
}

.section--about {
  background-image: url(/assets/images/background-alexanderplatz.jpg);
  color: white;
}

.main-logo {
  display: block;
  width: 170px;
  height: 170px;
  margin: $spacing-unit/2 0;
  padding: 0;
  background: url(/assets/images/logo-cyclehack-berlin.svg) no-repeat center center;
  text-indent: 100%;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
}

.intro {
  padding: 50px 0;

  @include media-query($screen-md) {
    max-width: 600px;
  }
}

.intro__tagline {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  color: $brand-color;


  @include media-query($screen-md) {
    font-size: 48px;
  }
}

.intro__date {
  color: white;
  @extend .intro__tagline;
}

.teaser {
  font-size: 24px;
}

.subscription-form {
  padding: 25px 0 0 0;
  margin: 20px 0 0 0;
  display: block;
  border-top: 1px solid white;

  input {
    border: 1px solid #333;
    background: white;
    font-size: $base-font-size;
    font-family: $base-font-family;
    padding: 5px 15px 0 15px;
    margin: 0 5px 0 0;
    height: 60px;
    width: 290px;
    vertical-align: middle;
  }

  button {
    @extend input;
    background-color: $hilight-color;
    transition: background-color 300ms;
    color: white;
    border-radius: 5px;
    width: auto;

    &:hover,
    &:active,
    &:focus {
      background-color: darken($hilight-color, 10);
      cursor: pointer;
    }
  }
}

.subscription-form__smallprint {
  margin-top: 25px;
  font-size: $small-font-size;
}

.footer {
  padding: 25px 0 0 0;
  margin: 60px 0 0 0;
  border-top: 1px solid white;
  font-size: $small-font-size;

  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;

    &:before {
      content: '|';
      padding: 0 7px;
    }
  }
}

.header {
  position: relative;
}
