.schedule__list {
  overflow: hidden;
  line-height: 1.5;

  dt {
    width: 15%;
    display: block;
    float: left;
    clear: both;
    margin-top: 0.33em;
  }

  dd {
    width: 85%;
    display: block;
    float: right;
    margin-top: 0.33em;
    color: gray;
  }

  ul {
    margin: 0;
  }
}

.schedule__title {
  font-weight: 600;
  margin: 0;
  color: black;
}

.schedule__date {
  color: $brand-color;
}
