.section {
  width: 100%;
  padding: $spacing-unit 0;
  overflow: hidden;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

.section__main {
  padding: 0 $spacing-unit;

  @include media-query($screen-md) {
    padding: $spacing-unit;
  }
}

.section__main--column {
  @extend .section__main;

  @include media-query($screen-lg) {
    width: 60%;
    float: left;
  }
}

.section__sidebar {
  display: block;
  padding: 0 $spacing-unit;

  @include media-query($screen-lg) {
    width: 40%;
    float: left;
    padding: $spacing-unit;
  }
}

.section--intro {
  background-color: black;
  background-image: url(/assets/images/background-wheel.jpg);
  background-size: cover;
  color: white;
}

.section--about {
  background-image: url(/assets/images/background-bikesign.jpg);
  background-attachment: fixed;
  color: white;
}

.section--join {
  background-color: black;
  background-image: url(/assets/images/background-trafficlight.jpg);
  background-position: left;
  background-attachment: fixed;
  color: white;
}

.section--ideas {
  background-color: $hilight-color;
  color: white;

  a {
    color: white;
  }

  @include media-query($screen-lg) {
    background-image: url(/assets/images/background-fablab.jpg);
    background-position: right bottom;
    background-size: 39% auto;
  }
}

.section--post {
  // background-image to be added via inline styles
  background-color: black;
  background-size: cover;
  color: white;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }
}

.section--newsletter {
  background-color: #efefef;
}
