$twitter-color: rgb(65, 149, 232);
$instagram-color: rgb(210, 70, 144);
$facebook-color: rgb(70, 94, 162);

%social__button {
  display: inline-block;
  padding: $spacing-unit/2 $spacing-unit $spacing-unit/2 $spacing-unit*2 ;
  margin: 0 $spacing-unit $spacing-unit/2 0;
  background-repeat: no-repeat;
  background-position: $spacing-unit/1.4 $spacing-unit/1.6;
  background-size: 24px;
  border: 2px solid;
  border-radius: 5px;
  text-decoration: none;
  font-size: 24px;
  text-decoration: none;
}

@mixin social__button--brand($color, $icon) {
  @extend %social__button;
  border-color: $color;
  background-image: url('data:image/svg+xml;utf8,#{$icon}');
  color: $color;
  opacity: .75;

  &:hover, &:active, &:focus {
    color: $color;
    opacity: 1;
  }
}

.social__button--twitter {
  @include social__button--brand($twitter-color, '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="#{$twitter-color}" d="M17.316 6.246c.008.162.01.326.01.488 0 4.99-3.796 10.742-10.74 10.742-2.132 0-4.115-.625-5.786-1.697.296.034.596.052.9.052 1.77 0 3.397-.604 4.688-1.615-1.65-.03-3.046-1.12-3.526-2.62.23.042.467.065.71.065.345 0 .68-.045.995-.13C2.84 11.18 1.54 9.657 1.54 7.827V7.78c.508.284 1.09.454 1.71.474-1.014-.678-1.68-1.832-1.68-3.143 0-.69.185-1.34.51-1.897C3.943 5.498 6.726 7 9.863 7.158c-.064-.277-.097-.564-.097-.86 0-2.085 1.69-3.774 3.774-3.774 1.085 0 2.066.457 2.755 1.19.86-.17 1.667-.483 2.397-.915-.282.88-.88 1.62-1.66 2.087.764-.092 1.49-.293 2.168-.594-.506.758-1.146 1.422-1.884 1.953z"/></svg>');
}

.social__button--facebook {
  @include social__button--brand($facebook-color, '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="#{$facebook-color}" d="M17 1H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h7v-7H8V9.525h2v-2.05c0-2.164 1.212-3.684 3.766-3.684l1.803.003v2.605H14.37c-.994 0-1.372.746-1.372 1.438v1.69h2.568L15 12h-2v7h4c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2z"/></svg>');
}

.social__button--instagram {
  @include social__button--brand($instagram-color, '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="#{$instagram-color}" d="M17 1H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2zM9.984 15.523c3.06 0 5.538-2.48 5.538-5.54 0-.337-.043-.663-.103-.983H17v7.216c0 .382-.31.69-.693.69H3.693c-.383 0-.693-.308-.693-.69V9h1.55c-.062.32-.105.646-.105.984 0 3.06 2.48 5.54 5.54 5.54zm-3.46-5.54c0-1.91 1.55-3.46 3.46-3.46 1.912 0 3.463 1.55 3.463 3.46s-1.55 3.463-3.462 3.463c-1.913 0-3.462-1.55-3.462-3.462zM16.306 6h-1.615C14.31 6 14 5.688 14 5.308V3.69c0-.38.31-.69.69-.69h1.616c.384 0 .694.31.694.69v1.617c0 .38-.31.693-.693.693z"/></svg>');
}
