.speakers__title {
  margin-bottom: 0;
  color: $brand-color;
}

.speakers__time {
    color: $grey-color;
  }

.speakers__portraits {
  overflow: hidden;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0.5em 0 2em 0;
  width: 100%;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0.5em;

    @include media-query($screen-sm) {
        width: 40%;
    }

    @include media-query($screen-lg) {
      width: 220px;
    }
  }

  img {
      width: 80%;
      max-width: 220px;
      display: inline-block;
      margin-bottom: 0.5em;
  }
}

.speakers__name {
  padding: 0.2em;
  margin: 0;
  line-height: 1.2;
  display: block;

}

.speakers__affiliations {
  margin: 0;
  padding: 0;

  li {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
  }

  a {
    color: $grey-color; 
  }
} 
