---
layout: default
---

  <div class="intro">
    <h2 class="intro__tagline">{{ page.intro.tagline }}</h2>
    <time class="intro__date">{{ page.intro.date }}</time>
  </div>

  {{ content }}

  <form class="subscription-form" action="" method="post" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="{{ page.form.email }}" required>
    <button type="submit" name="subscribe" id="mc-embedded-subscribe">{{ page.form.submit }}</button>
    <p class="subscription-form__smallprint">{{ page.form.smallprint }}</p>
  </form>
