---
layout: default
---

<section id="intro" class="section section--post" style="background-image: url({{ page.picture }})">

  <div class="container">

    <div class="section__main--column">
      <header class="header">
        <a class="main-logo" href="/">
          <h1>CycleHack Berlin</h1>
        </a>
      </header>

      <div class="intro">
        <h2 class="intro__tagline">{{ page.title }}</h2>
      </div>
      <div class="teaser">
        {{ page.lead }}
      </div>
    </div>

  </div>

</section>

<section class="section">
  <div class="container">

    <div class="section__main--column">

      {{ content }}

    </div>

    <aside class="section__sidebar">
        <time class="post-meta">{{ page.date | date: "%d.%m.%Y" }}

        {% if page.author %}
          <p>
            {{ page.author }}
          </p>
        {% endif %}

        {% if page.meta %}
          <p>
            {{ page.meta }}
          </p>
        {% endif %}
    </aside>

  </div>
</section>
